.wrapper img{
	position: absolute;
	color: rgb(48, 48, 48);
	top: 0;
	left: 0;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main_card {
	display: flex;
	align-items: center;
}

.card_left {
	background-color: #000000;
	position: relative;
	width: 5%;
    transition: width 0.3s ease;
	z-index: 100;
	max-height: 100vh;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card_left:hover {
	opacity: 1;
	width: 30%;
	height: 100vh;
	color: white;
}

.card_details {
	padding: 20px;
}

.nombre {
	font-size: 2rem;
	margin-bottom: 10px;
}

.card_cat {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.rating,
.genres,
.fecha {
	margin-right: 10px;
	align-items: center;
}

.description {
	margin-top: 10px;
	white-space: pre-line;
}

.plataformas {
	margin-top: 10px;
}

.card_right {
	flex: 1;
	position: relative; 
}
.card_right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
} 

.btn {
	text-decoration: none;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	align-items: end;
	padding: 10px 20px;
	border-radius: 2px;
	transition: background-color 0.5s ease;
	border-radius: 6px;
}

.btn:hover {
	background-color: #000000;
	border: #ff4646 2px solid;
	color: #ff4646;
}

.flecha {
	font-family: "handjet", cursive;
    position: relative;
	background-color: #000000;
	color:#ff4646;
	margin-left: 0;
	padding: 0%;
	line-height: 60%;
	font-size: 300%;
}