.box {
    background-color: rgb(224,25,40);
    display: flex;
    top: 50%;
    left: 50%;
    justify-content: center;
  }

  .box select {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 7px;
    font-size: 16px;
    appearance: button;
    outline: none;
    margin: 10px;
    border: #000000 2px solid;
    border-radius: 5px;
  }
  
  .box select option {
    font-family: "handjet," cursive;
    padding: 30px;
  }

