.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(224,25,40);
}


.opcion {
    text-align: center;
    padding: 57px 0px;
    text-decoration: none;
    float: left;
}

.to{
    background-color:rgb(224,25,40);
    color: #000000;
    text-decoration: none;
    padding: 5px;
    font-size: 25px;
    font-family: monospace;
    padding: 6px;
    border: #000000 3px solid;
    
}

.to:hover {
    background-color:white;
}

.to:active {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px #621708;
    transform: translateY(2px);
}

.search{
    padding: 0;
    margin: 0 16px;
}

.gif {
    display: table-cell;
    padding-top: 0.5vw;
    width:19vw;
    margin: -34px;
    height: auto;
}

.title {
    display: flex;
    font-family: "handjet", cursive;
    font-size: 40px;
    letter-spacing: 2px;
    justify-content: flex-start;
    position: relative;

}

.busqueda {
    padding: 0;
}

.btn {
    text-align: center;
    padding: 57px 0px;
    text-decoration: none;
    float: right;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 21px;
    font-family: monospace;
    background: bottom;
    margin: 50px 10px 0px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f5f5f5;
}

.btn:active {
    background-color: darkgrey;
    box-shadow: 0 2px #bab3b1;
    transform: translateY(2px);
}

